@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Quicksand:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    85% {
        opacity: 1;
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    96% {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: goldenrod;
    }
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 0.7s steps(56, end),
      blink-caret .75s infinite;
}

:root {
    --bg-color: #333333;
    --footer-color: #26272b;
    --input-color: #0505052a;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: "Inconsolata", monospace;
    background-color: var(--bg-color);
    color: white;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    margin-top: 15em;
    animation: transitionIn 0.75s;
}


.label-mod-1 {
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7em;
}

.input-date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.result {
    margin-top: 1em;
}

.input-mod-1 {
    font-size: 32px;
    color: white;
    background-color: var(--input-color);
    border: 2px solid goldenrod;
    border-radius: 25px;
    padding: 15px;
}

.span-mod-1 {
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 16px;
    text-align: center;
}

.span-mod-2 {
    font-size: 64px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 16px;
    text-align: center;
}

#span-result {
    display: inline-block;
}

.footer {
    background-color: var(--footer-color);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: goldenrod;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin-top: 7em;
    }
    
    .input-container {
        margin-bottom: 3em;
    }

    .input-mod-1 {
        font-size: 24px;
    }

    .span-mod-1 {
        font-size: 24px;
    }

    .span-mod-2 {
        font-size: 48px;
    }
}